@{
    Layout = "_NewsLayout";
}
@model ProductListViewModel
<section class="contact-area section-padding-100-0">
    <div class="container">
        <div class="row">


            @foreach (var item in Model.Events)
            {
                <div class="col-12 col-lg-5">
                    <div class="contact-content mb-100">
                        <!-- Title -->
                        <div class="contact-title font-bold" >
                            <h3>@item.Title</h3>
                        </div>
                        <hr />
                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class=" mr-30">
                                <h5>Price: </h5>
                            </div>
                            <span class="font-weight-bold h5">@item.TicketPrice</span>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class=" mr-30">
                                <h5>Starting Date: </h5>
                            </div>
                            <span class="font-weight-bold h5">@item.StartingDate</span>
                        </div>

                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class=" mr-30">
                                <h5>Place: </h5>
                            </div>
                            <span class="font-weight-bold h5">@item.Place</span>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info d-flex align-items-center">
                            <div class=" mr-30">
                                <h5>Description: </h5>
                            </div>
                            <span class="font-weight-bold h5">@item.Description</span>
                        </div>

                    </div>

                </div>
                <div class="col-12 col-lg-7">
                    <!-- ##### Google Maps ##### -->
                    <div class="map-area mb-100">
                        <img src="~/img/Music/Classical/@item.UrlImage"></img>
                    </div>
                </div>
            }






        </div>
                    
    </div>
</section>