@model Event

<div class="col-12 col-md-6 col-lg-4">
    <div class="single-event-area mb-30">
        <div class="event-thumbnail">
            <img src="~/img/Music/Classical/@Model.UrlImage" alt="">
        </div>
        <div class="event-text">
            <h4>@Model.Title</h4>
            <div class="event-meta-data">
                <a href="#" class="event-place">@Model.Place</a>
                <a href="#" class="event-date">@Model.StartingDate</a>
            </div>

         
              
            <form method="post" style="margin-top:15px;" asp-action="Detail" asp-controller="Event">
                <input type="hidden" name="eventId" asp-for="@Model.Id" value="@Model.Id" />
                <button type="submit" class="btn btn-success btn-sm">
                    See Event
                </button>
            </form>
            
           
            <form id="@Model.Id" asp-page="/Cart" method="post" style="margin-top:15px;">
                <input type="hidden" asp-for="@Model.Title" name="eventID" value="@Model.Id" />
                <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />

                <button type="submit" class="btn btn-success btn-sm">
                    Add To Cart
                </button>

            </form>
        </div>
    </div>
</div>



