@model MusicWorld.Models.Entities.Song

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlImage)
        </dt>
        <dd class="col-sm-10">
            <img src="~/img/Music/Classical/@Html.DisplayFor(model => model.UrlImage)" class="albums" alt="Alternate Text" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlMp3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlMp3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Artists)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Artists.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Albums)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Albums.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
